<div class="container">
    <div class="row">
      <div class="col-4">
        <mat-card>
          <mat-card-content>
            <h2>Bar Chart</h2>
            <div class="blocks">
                <canvas id="pieChart"></canvas>
            </div>          
            </mat-card-content>
        </mat-card>
      </div> 

      <div class="col-4">
        <mat-card>
          <mat-card-content>
            <h2>Runs</h2>
            <div class="blocks">
                <canvas id="barChart"></canvas>
            </div>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-4">
        <mat-card>
          <mat-card-content>
            <h2>Runs</h2>
            <div class="blocks">
                <canvas id="barChart1"></canvas>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-4">
      <mat-card>
        <mat-card-content>
          <h2>Runs</h2>
          <div class="blocks">
              <canvas id="barChart2"></canvas>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-4">
      <mat-card>
        <mat-card-content>
          <h2>Runs</h2>
          <div class="blocks">
              <canvas id="barChart3"></canvas>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col-4">
      <mat-card>
        <mat-card-content>
          <h2>Runs</h2>
          <div class="blocks">
              <canvas id="barChart4"></canvas>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>