<div class="container">
    <div class="row">
      <div class="col-4">
        <mat-card>
          <mat-card-content>
            <h2>Pie</h2>
            <div class="chart-container">
              <ng-container *ngFor="let chartOption of chartOptions2" class="chart-pie">
                <apx-chart
                  [series]="chartOption.series"
                  [chart]="chartOption.chart"
                  [title]="chartOption.title"
                ></apx-chart>
              </ng-container>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
  
      <div class="col-4">
        <mat-card>
          <mat-card-content>
            <h2>Bar</h2>
            <div class="chart-container">
              <apx-chart
                [series]="chartOptions1.series"
                [chart]="chartOptions1.chart"
                [xaxis]="chartOptions1.xaxis"
                [title]="chartOptions1.title"
              ></apx-chart>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
  
      <div class="col-4">
        <mat-card>
          <mat-card-content>
            <h2>Bar</h2>
            <div class="chart-container">
              <apx-chart
                [series]="chartOptions1.series"
                [chart]="chartOptions1.chart"
                [xaxis]="chartOptions1.xaxis"
                [title]="chartOptions1.title"
              ></apx-chart>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-4">
        <mat-card>
          <mat-card-content>
            <h2>Pie</h2>
            
            <div class="chart-container">
                <apx-chart
                  [series]="chartOptions3.series"
                  [chart]="chartOptions3.chart"
                  [xaxis]="chartOptions3.xaxis"
                  [title]="chartOptions3.title"
                ></apx-chart>
              </div>
           
          </mat-card-content>
        </mat-card>
      </div>
  
      <div class="col-4">
        <mat-card>
          <mat-card-content>
            <h2>Bar</h2>
            <div class="chart-container">
              <apx-chart
                [series]="chartOptions1.series"
                [chart]="chartOptions1.chart"
                [xaxis]="chartOptions1.xaxis"
                [title]="chartOptions1.title"
              ></apx-chart>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
  
      <div class="col-4">
        <mat-card>
          <mat-card-content>
            <h2>Bar</h2>
            <div class="chart-container">
              <apx-chart
                [series]="chartOptions1.series"
                [chart]="chartOptions1.chart"
                [xaxis]="chartOptions1.xaxis"
                [title]="chartOptions1.title"
              ></apx-chart>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  